[Desktop Entry]
Icon=text-html
Name=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.Lw6RZ-TpmrLu49uI1tY0JwHaEK%3Fpid%3DApi&f=1&ipt=d7bf0fa69a93a634e11d27d4311a8b3b84ec41d572f5a67020e40ba38d3c83f3&ipo=images
Type=Link
URL[$e]=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.Lw6RZ-TpmrLu49uI1tY0JwHaEK%3Fpid%3DApi&f=1&ipt=d7bf0fa69a93a634e11d27d4311a8b3b84ec41d572f5a67020e40ba38d3c83f3&ipo=images
