[Desktop Entry]
Icon=text-html
Name=https://aules.edu.gva.es/batxillerat/mod/resource/view.php?id=5533918
Type=Link
URL[$e]=https://aules.edu.gva.es/batxillerat/mod/resource/view.php?id=5533918
